<% if (isAuthenticated) { %>
  <a class="whatsapp-float"
     href="https://wa.me/917670077700?text=Hi%20there!%20I%20need%20help%20with%20resume%20making,%20AI%20cover%20letters,%20or%20profile%20%26%20portfolio%20services."
     target="_blank"
     aria-label="WhatsApp Support">
     
    <img src="/img/whatsapplogo.png" alt="WhatsApp Support">
  </a>
<% } %>
