<%- include("partials/header") %>

    <section>
      <h1>Thank You!</h1>
      <p>Your request has been received. SmrAI-Studio will contact you soon.</p>
      <p><a href="/">Back to Home</a></p>
    </section>
    
<%- include("partials/footer") %>
